<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todo 리스트</title>
        
        <!-- Call Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1>Todo List 입니다</h1><br>

                <!-- The todolist -->
                <ul id="todolist"></ul>

                <!-- The form to add task -->
                <form action="/" method="post" id="todolistForm">
                    <div class="form-group">
                        <label for="task">다음 일은?</label><br>
                        <input type="text" class="form-control input-lg" name="task" id="task" placeholder="다음 해야할 일은..." autofocus required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" id="sendTask">등록</button>
                </form>
            </div>
        </div>
        <!-- Call JS files -->
        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/todolist.js"></script>
    </body>
</html>
